
{{#partial "content"}}
    <div class="blog-content">
        <h2>{{blogEntry.title}}</h2>
        <div class="blog-date">{{blogEntry.date}}</div>
        <p>{{blogEntry.body}}</p>
    </div>

    {{#each blogEntry.comments}}
        <div class="blog-comment">
            <span class="comment-name">{{this.name}}</span>
            <br>
            <span class="comment-body">{{this.body}}</span>
        </div>
    {{/each}}

    <form action="/add-comment/{{blogEntry.slug}}" method="post">
        <section class="add-comment">
            <input type="text" class="add-comment-name" name="add-comment-name" placeholder="comment heading here">
            <div>
                <textarea name="add-comment-body" class="add-comment-body" placeholder="comment here"></textarea>
            </div>
            <button type="submit" class="btn-default">Add Comment</button>
        </section>
    </form>

    <form action="/edit-blog/{{blogEntry.slug}}">
        <button type="submit" class="btn-default">edit blog!!!</button>
    </form>
{{/partial}}
{{> base.hbs}}