<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href="/css/main.css">
    <title>
       Blog Details...
    </title>
</head>
<body>


    <h3>{{blogEntry.title}}</h3>
    <p>{{blogEntry.body}}</p>

    {{#each blogEntry.comments}}
    <li>
        {{this.name}}
        <br>
        {{this.body}}
    </li>
    {{/each}}

    <form action="/add-comment/{{blogEntry.slug}}" method="post">

        <label for="comment-name">Comment Name:</label>
        <input type="text" id="comment-name" name="comment-name">

        <label for="comment-body">Add Comment Text here:</label>
        <input type="text" id="comment-body" name="comment-body">

        <button type="submit">Add Comment</button>
    </form>

    <form action="/edit-blog/{{blogEntry.slug}}">
        <button type="submit">edit blog!!!</button>
    </form>

</body>
</html>