{{#partial "content"}}
    <h3>{{blogEntry.title}}</h3>
    <p>{{blogEntry.body}}</p>

    {{#each blogEntry.comments}}
    <div class="blog-comment">
        {{this.name}}
        <br>
        {{this.body}}
    </div>
    {{/each}}

    <form action="/add-comment/{{blogEntry.slug}}" method="post">

        <label for="comment-name">Comment Name:</label>
        <input type="text" class="comment-name" name="comment-name">

        <textarea name="comment-body" class="comment-body">Enter comment here...</textarea>

        <button type="submit" class="btn-default">Add Comment</button>
    </form>
    <form action="/edit-blog/{{blogEntry.slug}}">
        <button type="submit" class="btn-default">edit blog!!!</button>
    </form>
{{/partial}}
{{> base.hbs}}